---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

• Tianjun Xie, Gerhard R. Wittreich, and Dionisios G. Vlachos. Modeling of Hydrogenolysis of Light
Alkanes on Ru. North America Catalysis Society, (2022), New York, NY.

• Cong Wang, Kewei Yu, Boris Sheludko, Tianjun Xie, Pavel Kots, Brandon Vance, Pawan Kumar, Eric A.
Stach, Weiqing Zheng and Dionisios Vlachos. A General Route Towards Low-Methane Hydrogenolysis of
Polyethylene over Ruthenium on Doped Zirconias at Mild Conditions. The American Institute of Chemical
Engineers, (2022). Phoenix, AZ.

• Yurong Wu, Weiqing Zheng, Alfred Worrad, Tianjun Xie, Sagar Sourav, Stavros Caratzoulas, George
Tsilomelekis, and Dionisios G. Vlachos. Active Centers of Inverse Catalysts. North America Catalysis
Society, (2022), New York, NY.

• Cong Wang, Tianjun Xie, Pavel Kots, Brandon Vance, Kewei Yu, Pawan Kumar, Jiayi Fu, Sibao Liu, Eric
A. Stach, Weiqing Zheng, and Dionisios Vlachos Mechanistic Study of Selective Hydrogenolysis of
Polyethylene at Mild Conditions over Ruthenium Catalysts. The American Institute of Chemical Engineers,
(2021), Boston, MA.

• Tianjun Xie and Rachel B. Getman. Multi-Scale Simulations with Linear Scaling Relations and
Microkinetic Models of Aqueous Phase Reforming of Sugar Alcohols. In Recognition of the 50th Anniversary
of ExxonMobil Corporate Strategic Research session. The American Institute of Chemical Engineers, (2019),
Orlando, FL.

• Tianjun Xie and Rachel B. Getman. Investigation of Thermodynamics and Kinetics of Glycerol Aqueous
Phase Reforming via Multi-Scale Simulations. The American Institute of Chemical Engineers, (2019),
Orlando, FL.

• Tianjun Xie and Rachel B. Getman. Multiscale Simulations with Linear Scaling Relations and
Microkinetic Models of Aqueous Phase Reactions. Southeastern Catalysis Society, (2019), Knoxville, TN.

• Tianjun Xie and Rachel B. Getman. Computational Catalysis. Ignite Invited Talks, (2019), Clemson, SC.

• Tianjun Xie and Rachel B. Getman. Computationally Tractable Methods for Studying Aqueous Phase
Heterogeneous Catalysis. Southeastern Catalysis Society, (2018), Atlanta, GA.

• Xiaohong Zhang, Tianjun Xie, and Rachel Getman. Molecular simulations for calculating the free energies
of adsorption and reaction in aqueous phase heterogeneous catalysis. The American Chemical Society,
(2018), Boston, MA.

• Tianjun Xie and Rachel B. Getman. Computationally Tractable Methods for Studying the Roles of Water
Molecules on Aqueous Phase Heterogeneous Catalysis. The Mineral, Metals and Materials Society, (2018),
Pheonix, AZ.

• Tianjun Xie and Rachel B. Getman. Using Scaling Relationships to Efficiently Calculate Thermodynamic
and Kinetic Quantities Involved in the Aqueous Phase Reforming (APR) or Glycerol. Southeastern
Catalysis Society, (2017), Asheville, NC.

• Cameron Bodenschatz, Tianjun Xie, Sapna Sarupria, and Rachel Getman. Molecular-level insights into
the role of water on Pt (111)-catalyzed glycerol and methanol reforming using a combined DFT/MD
approach. The American Chemical Society, (2016), Philadelphia, PA.

• Tianjun Xie and Rachel B. Getman. Combined DFT and MD Study of Aqueous Reforming of Glycerol on
Pt (111) via Competitive C-H and O-H Dehydrogenation. The American Institute of Chemical Engineers,
(2016), San Francisco, CA.

• Tianjun Xie and Rachel B. Getman. Combined DFT and MD Study of Aqueous Phase Reforming of
Glycerol on Pt(111) via Competitive C-H and O-H Dehydrogenation. Southeastern Catalysis Society,
(2016), Asheville, NC.

• Tianjun Xie and Rachel B. Getman. Heterogeneous Catalysis of Aqueous Phase Reforming of Glycerol
with First Principle Calculations and Molecular Dynamics Simulations. Southeastern Catalysis Society,
(2015), Clemson, SC.

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->

